*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e8e9ea;
    margin: 0;
}

/*Header*/
.bg_logo{
    background-color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
}

.title{
    margin: auto;
    display: inline-block;
    font-size: 30px;
}

/*Main*/
#app_main{
    margin: 300px;
    width: 500px;
    height: 1000px;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 40px;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*Main utility*/
.sect{
    margin-top: 40px;
}
.list{
    margin-top: 10px;
    margin-bottom: 20px;
}
/*color button*/
.addtask.blue{
    height: 20px;
    font-size: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #43aae9;
    border-color: #43aae9;
    color: white;
}
.addtask.purple{
    height: 20px;
    font-size: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #9330d5;
    border-color: #9330d5;
    color: white;
}
.addtask.green{
    height: 20px;
    font-size: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #3bad63;
    border-color: #3bad63;
    color: white;
}
.addtask.orange{
    height: 20px;
    font-size: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ff9900;
    border-color: #ff9900;
    color: white;
}
.addtask.magenta{
    height: 20px;
    font-size: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fa0577;
    border-color: #fa0577;
    color: white;
}
.addtask.greenbeen{
    height: 20px;
    font-size: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #98fa05;
    border-color: #98fa05;
    color: white;
}
