*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e8e9ea;
    margin: 0;
}

/*Header*/
.bg_logo{
    background-color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
}

.title{
    margin: auto;
    display: inline-block;
    font-size: 30px;
}

/*Main*/
#app_main{
    margin: 300px;
    width: 500px;
    height: 1000px;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 40px;
    background-color: #ffffff;
}

.addtask{
    margin-top: 15px;
    height: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #43aae9;
    border-color: #43aae9;
    color: white;
}
.newtask
